### Managed by Ansible ###
LogFile={{ zabbix_server_log_file }}
DBHost={{ zabbix_server_db_host }}
DBName={{ zabbix_server_db_name }}
DBUser={{ zabbix_server_db_user }}
DBPassword={{ zabbix_server_db_password }}
ListenIP={{ zabbix_server_listen_ip }}
StartPollers={{ zabbix_server_start_pollers }}
CacheSize={{ zabbix_server_cache_size }}
HistoryCacheSize={{ zabbix_server_history_cache_size }}
