---

- name: Vérifier si le schéma est déjà importé
  command: mysql -uzabbix -p{{ zabbix_db_password }} -e "SELECT COUNT(*) FROM information_schema.tables WHERE table_schema='zabbix';"
  register: db_tables
  changed_when: false

- name: Importer le schéma Zabbix si vide
  command: >
    zcat /usr/share/zabbix-sql-scripts/mysql/server.sql.gz
    | mysql -uzabbix -p{{ zabbix_db_password }} zabbix
  when: db_tables.stdout | int == 0
