---

- name: Tuning MariaDB pour Zabbix
  blockinfile:
    path: /etc/my.cnf.d/zabbix.cnf
    create: yes
    block: |
      [mysqld]
      innodb_buffer_pool_size = 1G
      innodb_log_file_size = 256M
      innodb_flush_method = O_DIRECT
      max_connections = 500
      character-set-server = utf8mb4
      collation-server = utf8mb4_bin
      innodb_file_per_table = 1
      log_bin_trust_function_creators = 1

- name: Restart MariaDB
  systemd:
    name: mariadb
    state: restarted
