# URL d’accès à l’API Zabbix
zabbix_url: "http://{{ hostvars['Zabbix-FrontWeb'].ansible_host }}/zabbix"

# Credentials API
zabbix_api_user: "Admin"
zabbix_api_pass: "zabbix"

# API : activer création automatique
zabbix_api_create_hosts: true
zabbix_api_create_hostgroup: true

# Version Zabbix
zabbix_agent_version: 7.4
zabbix_agent_version_minor: 0

# Template par défaut
zabbix_link_templates:
  - "Linux by Zabbix agent"

zabbix_host_status: enabled
zabbix_update_host: true
zabbix_create_host: present

zabbix_host_groups:
  - "{{ group_names[0] }}"
  - "{{ site_group | default('Default') }}"


  # Mapping site → proxy
zabbix_proxy_by_site:
  site_A: "Zabbix-Proxy-A"
  site_B: "Zabbix-Proxy-B"
  site_C: "Zabbix-Proxy-C"

# Proxy appliqué automatiquement
zabbix_proxy: "{{ zabbix_proxy_by_site[site] | default(omit) }}"

# Base de données centrale pour le server (front + server utilisent cette DB)
zbx_db_host: "{{ hostvars['Zabbix-Database'].ansible_host }}"
zbx_db_name: "zabbix"
zbx_db_user: "zabbix"
zbx_db_pass: "password"         # mets un secret sûr en prod

# MariaDB – root
mysql_root_password: "password"  # secret à protéger (vault)

# Interface agent (discovery IPv4)
zabbix_agent_interfaces:
  - type: 1
    main: 1
    useip: 1
    ip: "{{ ansible_host }}"
    dns: ""
    port: "10050"

# SELinux : autoriser connexions réseau httpd -> DB et Zabbix
selinux_booleans:
  - name: httpd_can_network_connect_db
    state: yes
    persistent: yes
  - name: httpd_can_network_connect
    state: yes
    persistent: yes
  - name: zabbix_can_network
    state: yes
    persistent: yes
